* {
  margin: 0;
  padding: 0;
}

.content {
  display: flex;
  height: 100vh;
}

.bar-main img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: fixed;
}
div .bar-main {
  flex-grow: 1;
}

.bar-left {
  background-color: #05080f;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-direction: column;
}

.elements {
  margin: 15px;
  padding: 8px 9px;
  background-color: #0c0c14;
  border-radius: 16px;
  border: #e2a7c5 1px solid;
}

h3 {
  color: #ff6fca;
}

.elements:hover {
  background-color: #1e1e30;
  transition: all 1s;
  cursor: pointer;
}

@media screen and (max-width: 640px) {
  .content {
    flex-direction: column-reverse;
  }

  .bar {
    width: 100%;
    height: 50vh;
  }

  .bar-main img {
    display: block;
    height: 50%;
    width: 100%;
  }

  .bar-left {
    flex-direction: row;
  }
}
